<div class="container max-w">
  <div class="row align-items-center">
    <div class="col-md-12">
      <div class="main-header-section-container">
        <p class="service-page-title">
          {{ "APP.SERVICE.SOFTWARE.WELCOME" | translate }}
          {{ "APP.SERVICE.SOFTWARE.SOFTWARE_SOLUTIONS" | translate }}
        </p>
        <div class="main-header-section-description">
          {{ "APP.SERVICE.SOFTWARE.WELCOME_DESC" | translate }}
        </div>
      </div>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-md-12">
      <div class="main-section-container">
        <h3>{{ "APP.SERVICE.SOFTWARE.EXPERTISE" | translate }}</h3>
      </div>
    </div>

    <div class="row">
      <div class="cards-container">
        <div class="col-md-4">
          <mat-card
            class="mat-card-container mat-card-container-md card-padding"
          >
            <mat-card-header class="mat-card-header">
              <mat-card-title class="mat-card-title">{{
                "APP.SERVICE.SOFTWARE.CUSTOM_DEV" | translate
              }}</mat-card-title>
              <mat-icon class="findev-icon" svgIcon="rocket"></mat-icon>
            </mat-card-header>
            <mat-card-content>
              <div class="mat-card-content">
                {{ "APP.SERVICE.SOFTWARE.CUSTOM_DEV_DESC" | translate }}
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-4">
          <mat-card
            class="mat-card-container mat-card-container-md card-padding"
          >
            <mat-card-header class="mat-card-header">
              <mat-card-title class="mat-card-title">{{
                "APP.SERVICE.SOFTWARE.CONSULTANCY" | translate
              }}</mat-card-title>
              <mat-icon class="findev-icon" svgIcon="web"></mat-icon>
            </mat-card-header>
            <mat-card-content>
              <div class="mat-card-content">
                {{ "APP.SERVICE.SOFTWARE.CONSULTANCY_DESC" | translate }}
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-4">
          <mat-card
            class="mat-card-container mat-card-container-md card-padding"
          >
            <mat-card-header class="mat-card-header">
              <mat-card-title class="mat-card-title">{{
                "APP.SERVICE.SOFTWARE.APP_DEVELOPMENT" | translate
              }}</mat-card-title>
              <mat-icon class="findev-icon" svgIcon="mobile"></mat-icon>
            </mat-card-header>
            <mat-card-content>
              <div class="mat-card-content">
                {{ "APP.SERVICE.SOFTWARE.APP_DEVELOPMENT_DESC" | translate }}
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <!-- <div class="col-md-4">
          <mat-card
            class="mat-card-container mat-card-container-md card-padding"
          >
            <mat-card-header class="mat-card-header">
              <mat-card-title class="mat-card-title">{{
                "APP.SERVICE.SOFTWARE.CLOUD_SOLUTIONS" | translate
              }}</mat-card-title>
              <mat-icon class="findev-icon" svgIcon="cloud"></mat-icon>
            </mat-card-header>
            <mat-card-content>
              <div class="mat-card-content">
                {{ "APP.SERVICE.SOFTWARE.CLOUD_SOLUTIONS_DESC" | translate }}
              </div>
            </mat-card-content>
          </mat-card>
        </div> -->
        <div class="col-md-4">
          <mat-card
            class="mat-card-container mat-card-container-md card-padding"
          >
            <mat-card-header class="mat-card-header">
              <mat-card-title class="mat-card-title">{{
                "APP.SERVICE.SOFTWARE.SOFTWARE_CONSULTING" | translate
              }}</mat-card-title>
              <mat-icon class="findev-icon" svgIcon="ai-solution"></mat-icon>
            </mat-card-header>
            <mat-card-content>
              <div class="mat-card-content">
                {{
                  "APP.SERVICE.SOFTWARE.SOFTWARE_CONSULTING_DESC" | translate
                }}
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>

    <div class="main-section-container why-us">
      <div class="row align-items-center">
        <div class="col-md-12">
          <h3>{{ "APP.SERVICE.SOFTWARE.WHY_US" | translate }}</h3>
        </div>
      </div>
      <div class="row">
        <div class="cards-container">
          <div class="col-md-4">
            <mat-card
              class="mat-card-container mat-card-container-sm card-padding"
            >
              <mat-card-header class="mat-card-header">
                <mat-card-title class="mat-card-title">{{
                  "APP.SERVICE.SOFTWARE.INNOVATION_CORE" | translate
                }}</mat-card-title>
                <mat-icon class="findev-icon" svgIcon="light-bulb"></mat-icon>
              </mat-card-header>
              <mat-card-content>
                <div class="mat-card-content">
                  {{ "APP.SERVICE.SOFTWARE.WHY_US_DESC" | translate }}
                </div>
              </mat-card-content>
            </mat-card>
          </div>

          <div class="col-md-4">
            <mat-card
              class="mat-card-container mat-card-container-sm card-padding"
            >
              <mat-card-header class="mat-card-header">
                <mat-card-title class="mat-card-title">{{
                  "APP.SERVICE.SOFTWARE.COLLABORATIVE_APPROACH" | translate
                }}</mat-card-title>
                <mat-icon
                  class="findev-icon"
                  svgIcon="measuring-tape"
                ></mat-icon>
              </mat-card-header>
              <mat-card-content>
                <div class="mat-card-content">
                  {{
                    "APP.SERVICE.SOFTWARE.COLLABORATIVE_APPROACH_DESC"
                      | translate
                  }}
                </div>
              </mat-card-content>
            </mat-card>
          </div>

          <!-- <div class="col-md-4">
            <mat-card
              class="mat-card-container mat-card-container-sm card-padding"
            >
              <mat-card-header class="mat-card-header">
                <mat-card-title class="mat-card-title">{{
                  "APP.SERVICE.SOFTWARE.RELIABILITY_SEC" | translate
                }}</mat-card-title>
                <mat-icon class="findev-icon" svgIcon="shield"></mat-icon>
              </mat-card-header>
              <mat-card-content>
                <div class="mat-card-content">
                  {{ "APP.SERVICE.SOFTWARE.RELIABILITY_SEC_DESC" | translate }}
                </div>
              </mat-card-content>
            </mat-card>
          </div> -->

          <div class="col-md-4">
            <mat-card
              class="mat-card-container mat-card-container-sm card-padding"
            >
              <mat-card-header class="mat-card-header">
                <mat-card-title class="mat-card-title">{{
                  "APP.SERVICE.SOFTWARE.PROVEN_TRACK" | translate
                }}</mat-card-title>
                <mat-icon class="findev-icon" svgIcon="chart-upward"></mat-icon>
              </mat-card-header>
              <mat-card-content>
                <div class="mat-card-content">
                  {{ "APP.SERVICE.SOFTWARE.PROVEN_TRACK_DESC" | translate }}
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
