<div class="container max-w">
  <div class="row align-items-center">
    <div class="col-md-12">
      <div class="main-header-section-container">
        <p class="service-page-title">
          {{ "APP.SERVICE.CLOUD.WELCOME" | translate }}
        </p>
        <div class="main-header-section-description">
          {{ "APP.SERVICE.CLOUD.WELCOME_DESC" | translate }}
        </div>
      </div>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-md-12">
      <div class="main-section-container">
        <h3>{{ "APP.SERVICE.CLOUD.SUITE_SOLUTIONS" | translate }}</h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="cards-container">
      <div class="col-md-4">
        <mat-card class="mat-card-container mat-card-container-md card-padding">
          <mat-card-header class="mat-card-header">
            <mat-card-title class="mat-card-title">{{
              "APP.SERVICE.CLOUD.DATA_MNG" | translate
            }}</mat-card-title>
            <mat-icon class="findev-icon" svgIcon="data-management"></mat-icon>
          </mat-card-header>
          <mat-card-content>
            <div class="mat-card-content">
              {{ "APP.SERVICE.CLOUD.HARNESS" | translate }}
              <br />
              {{ "APP.SERVICE.CLOUD.DATA_DRIVEN" | translate }}
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4">
        <mat-card class="mat-card-container mat-card-container-md card-padding">
          <mat-card-header class="mat-card-header">
            <mat-card-title class="mat-card-title">{{
              "APP.SERVICE.CLOUD.CLOUD_STRATEGY" | translate
            }}</mat-card-title>
            <mat-icon class="findev-icon" svgIcon="cloud-strategy"></mat-icon>
          </mat-card-header>
          <mat-card-content>
            <div class="mat-card-content">
              {{ "APP.SERVICE.CLOUD.CLEAR_ROADMAP" | translate }}
              <br />
              {{ "APP.SERVICE.CLOUD.ALIGN_STRATEGIES" | translate }}
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4">
        <mat-card class="mat-card-container mat-card-container-md card-padding">
          <mat-card-header class="mat-card-header">
            <mat-card-title class="mat-card-title">{{
              "APP.SERVICE.CLOUD.PAAS" | translate
            }}</mat-card-title>
            <mat-icon class="findev-icon" svgIcon="paas"></mat-icon>
          </mat-card-header>
          <mat-card-content>
            <div class="mat-card-content">
              {{ "APP.SERVICE.CLOUD.STREAMLINE_APP" | translate }}
              <br />
              {{ "APP.SERVICE.CLOUD.ENHANCE_COLL" | translate }}
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4">
        <mat-card class="mat-card-container mat-card-container-md card-padding">
          <mat-card-header class="mat-card-header">
            <mat-card-title class="mat-card-title">{{
              "APP.SERVICE.CLOUD.IAAS" | translate
            }}</mat-card-title>
            <mat-icon class="findev-icon" svgIcon="iaas"></mat-icon>
          </mat-card-header>
          <mat-card-content>
            <div class="mat-card-content">
              {{ "APP.SERVICE.CLOUD.LEVERAGE_SCALABLE" | translate }}
              <br />
              {{ "APP.SERVICE.CLOUD.OPTIMIZE_RES" | translate }}
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="main-section-container why-us">
    <div class="row align-items-center">
      <div class="col-md-12">
        <h3>{{ "APP.SERVICE.CLOUD.WHY_US" | translate }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="cards-container">
        <div class="col-md-4">
          <mat-card
            class="mat-card-container mat-card-container-sm card-padding"
          >
            <mat-card-header class="mat-card-header">
              <mat-card-title class="mat-card-title">{{
                "APP.SERVICE.CLOUD.INOVATION_CORE" | translate
              }}</mat-card-title>
              <mat-icon class="findev-icon" svgIcon="light-bulb"></mat-icon>
            </mat-card-header>
            <mat-card-content>
              <div class="mat-card-content">
                {{ "APP.SERVICE.CLOUD.INNOVATION_CORE_DESC" | translate }}
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-md-4">
          <mat-card
            class="mat-card-container mat-card-container-sm card-padding"
          >
            <mat-card-header class="mat-card-header">
              <mat-card-title class="mat-card-title">{{
                "APP.SERVICE.CLOUD.COLLABORATIVE_APPROACH" | translate
              }}</mat-card-title>
              <mat-icon class="findev-icon" svgIcon="measuring-tape"></mat-icon>
            </mat-card-header>
            <mat-card-content>
              <div class="mat-card-content">
                {{
                  "APP.SERVICE.CLOUD.COLLABORATIVE_APPROACH_DESC" | translate
                }}
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-md-4">
          <mat-card
            class="mat-card-container mat-card-container-sm card-padding"
          >
            <mat-card-header class="mat-card-header">
              <mat-card-title class="mat-card-title">{{
                "APP.SERVICE.CLOUD.RELIABILITY" | translate
              }}</mat-card-title>
              <mat-icon class="findev-icon" svgIcon="shield"></mat-icon>
            </mat-card-header>
            <mat-card-content>
              <div class="mat-card-content">
                {{ "APP.SERVICE.CLOUD.RELIABILITY_DESC" | translate }}
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-md-4">
          <mat-card
            class="mat-card-container mat-card-container-sm card-padding"
          >
            <mat-card-header class="mat-card-header">
              <mat-card-title class="mat-card-title">{{
                "APP.SERVICE.CLOUD.EXPERTISE" | translate
              }}</mat-card-title>
              <mat-icon class="findev-icon" svgIcon="chart-upward"></mat-icon>
            </mat-card-header>
            <mat-card-content>
              <div class="mat-card-content">
                {{ "APP.SERVICE.CLOUD.EXPERTISE_DESC" | translate }}
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
