:host {
  display: flex;
  flex-direction: column;
}

h2 {
  padding-top: 5%;
  font-weight: 700;
  width: 70%;
  font-size: 30px;
  line-height: 1.2;
  color: var(--main-color);
  text-align: center;
}
