<div>
  <!--
  <div class="slider-area position-relative primary-bg">
    <div class="single-page page-height d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div
            class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex align-items-center justify-content-center"
          >
            <div class="page-title mt-110 text-center">
              <app-matrix-rain
                [fromHome]="false"
                givenWord="ABOUT US"
              ></app-matrix-rain>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
-->
  <div class="about-us-about-area pt-200 over-hidden">
    <div class="container">
      <div class="row align-items-start justify-content-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="about-us-left-content mb-65">
            <div class="title">
              <span class="theme-color f-700">{{
                "APP.ABOUT.ABOUT_TITLE" | translate
              }}</span>
              <h3 class="f-700 mb-30">
                {{ "APP.ABOUT.ABOUT_DESC_1" | translate }}
              </h3>
              <p class="pb-10">
                {{ "APP.ABOUT.ABOUT_DESC_2" | translate }}
              </p>
              <p>
                {{ "APP.ABOUT.ABOUT_DESC_3" | translate }}
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-5 offset-lg-1 col-lg-5 col-md-9 col-sm-12 col-12">
          <div
            class="about-us-img-wrapper mt-18 mb-100 d-flex justify-content-end ml-100"
          >
            <div
              class="home3-about-img about-us-container-main-image bg-transparent position-relative z-index11 tilt"
            >
              <img
                class="about-us-img1 about-us-main-image d-inline-block z-index-1"
                src="assets/images/findev/about-1.jpeg"
                alt="image"
              />
              <div
                class="about-us-marker p-right white-bg text-center position-absolute z-index11"
              >
                <div class="about-us-marker-text">
                  <h4 class="f-700 text-center">
                    <span class="theme-color d-block">3+</span>
                    {{ "APP.ABOUT.ASSOCIATES" | translate }}
                  </h4>
                </div>
              </div>
              <div
                class="about-us-about-icon theme-bg position-absolute z-index11 text-center"
              >
                <span class="white-color d-block pt-20 pb-20"
                  ><i class="fal fa-rocket-launch"></i
                ></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="home3-facts-area">
    <div class="about-us-fact-bg bg-no-repeat pt-30 pb-30 findev-background">
      <div class="container">
        <div
          class="row align-items-center justify-content-center flex-column-reverse flex-lg-row"
        >
          <div class="col-xl-6 col-lg-7 col-md-9 col-sm-12 col-12">
            <div class="row home3-facts-wrapper">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div
                  class="home3-single-facts about-us-fact-wrapper white-bg text-center pt-45 pb-60 pl-40 pr-40 mb-30"
                >
                  <div class="d-flex align-items-center justify-content-center">
                    <span class="theme-color f-700 d-inline-block">5</span>
                    <span class="per theme-color d-inline-block f-700">+</span>
                  </div>
                  <p class="black-color text-center f-700 mb-0">
                    {{ "APP.ABOUT.SERVICES" | translate }}
                  </p>
                </div>
                <div
                  class="home3-single-facts about-us-fact-wrapper white-bg text-center pt-45 pb-60 pl-40 pr-40 mb-30"
                >
                  <div class="d-flex align-items-center justify-content-center">
                    <span class="theme-color f-700 d-inline-block">4</span>
                    <span class="theme-color d-inline-block f-700">+</span>
                  </div>
                  <p class="black-color text-center f-700 mb-0">
                    {{ "APP.ABOUT.OPERATING_COUNTRIES" | translate }}
                  </p>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div
                  class="home3-single-facts about-us-fact-wrapper home3-single-facts-margin white-bg text-center pt-45 pb-60 pl-40 pr-40 mb-30 mt-60"
                >
                  <div class="d-flex align-items-center justify-content-center">
                    <span class="theme-color f-700 d-inline-block">10</span>
                    <span class="per theme-color d-inline-block f-700">+</span>
                  </div>
                  <p class="black-color text-center f-700 mb-0">
                    {{ "APP.ABOUT.TECHNO" | translate }}
                  </p>
                </div>
                <div
                  class="home3-single-facts about-us-fact-wrapper white-bg text-center pt-45 pb-60 pl-40 pr-40 mb-30"
                >
                  <div class="d-flex align-items-center justify-content-center">
                    <span class="theme-color f-700 d-inline-block">4</span>
                    <span class="per theme-color d-inline-block f-700">+</span>
                  </div>
                  <p class="black-color text-center f-700 mb-0">
                    {{ "APP.ABOUT.SPOKEN_LANGUAGES" | translate }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-5 offset-xl-1 col-lg-5 col-md-12 col-sm-12 col-12">
            <div class="title">
              <span class="theme-color f-700">{{
                "APP.ABOUT.MORE_NUMBERS" | translate
              }}</span>
              <p class="pb-10">
                {{ "APP.ABOUT.MORE_NUMBERS_DETAILS" | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="speciality-area about-page pt-30 pb-30 over-hidden">
    <div class="container">
      <div class="row align-items-start">
        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
          <div class="Speciality-left-content mb-20">
            <div class="title">
              <span class="theme-color f-700">{{
                "APP.ABOUT.WHY_COLLABORATE" | translate
              }}</span>
              <h3 class="f-700 mb-30">
                {{ "APP.ABOUT.PEOPLE_TRUST_US" | translate }}
              </h3>
              <p class="pb-10">
                {{ "APP.ABOUT.PEOPLE_TRUST_US_DETAILS" | translate }}
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-6 offset-xl-1 col-lg-7 col-md-12 col-sm-12 col-12">
          <div class="Speciality-right-content mt-15">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="single-service-content transition3 mb-55">
                  <div
                    class="ser-icon d-inline-block text-center mb-22 transition5"
                  >
                    <mat-icon svgIcon="rocket" class="findev-icon"></mat-icon>
                  </div>
                  <div class="service-text">
                    <h6 class="f-700 mb-15">
                      {{ "APP.ABOUT.INNOVATIVE_SOLUTIONS" | translate }}
                    </h6>
                    <p>
                      {{ "APP.ABOUT.INNOVATIVE_SOLUTIONS_DESC" | translate }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="single-service-content transition3 mb-55">
                  <div
                    class="ser-icon d-inline-block text-center mb-22 transition5"
                  >
                    <mat-icon
                      svgIcon="handshake"
                      class="findev-icon"
                    ></mat-icon>
                  </div>
                  <div class="service-text">
                    <h6 class="f-700 mb-15">
                      {{ "APP.ABOUT.COLLABORATIVE_EXCELLENCE" | translate }}
                    </h6>
                    <p>
                      {{
                        "APP.ABOUT.COLLABORATIVE_EXCELLENCE_DESC" | translate
                      }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="single-service-content transition3 mb-55">
                  <div
                    class="ser-icon d-inline-block text-center mb-22 transition5"
                  >
                    <mat-icon
                      svgIcon="measuring-tape"
                      class="findev-icon"
                    ></mat-icon>
                  </div>
                  <div class="service-text">
                    <h6 class="f-700 mb-15">
                      {{ "APP.ABOUT.TAILORED_FOR_SUCCESS" | translate }}
                    </h6>
                    <p>
                      {{ "APP.ABOUT.TAILORED_FOR_SUCCESS_DESC" | translate }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="single-service-content transition3 mb-55">
                  <div
                    class="ser-icon d-inline-block text-center mb-22 transition5"
                  >
                    <mat-icon
                      svgIcon="chart-upward"
                      class="findev-icon"
                    ></mat-icon>
                  </div>
                  <div class="service-text">
                    <h6 class="f-700 mb-15">
                      {{ "APP.ABOUT.PROVEN_TRACK" | translate }}
                    </h6>
                    <p>
                      {{ "APP.ABOUT.PROVEN_TRACK_DESC" | translate }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
