<footer>
  <div class="footer-area home3 primary-bg pt-50">
    <div class="footer-heading">
      <div class="container">
        <div class="row align-md-items-center align-items-start">
          <div class="col-xl-8 col-lg-8 col-md-8 col-sm- col-">
            <div class="f-heading-text">
              <h4 class="f-700">{{ "APP.FOOTER.GET_STARTED" | translate }}</h4>
              <p>
                {{ "APP.FOOTER.READY_TO_TURN" | translate }}
              </p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-12 col-sm- col- d-block">
            <div class="my-btn text-lg-right text-md-center">
              <a
                href="/contact"
                class="btn theme-bg text-capitalize f-18 f-700"
                >{{ "APP.FOOTER.CONTACT_US" | translate }}</a
              >
            </div>
          </div>
        </div>
        <div class="footer-border-bottom pt-40"></div>
      </div>
    </div>
    <div class="footer-top mt-55">
      <div class="container">
        <div class="row">
          <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-12">
            <div class="footer-widget hf-info pb-30 ml-40 pr-20 mt-25">
              <h6 class="text-capitalize f-700 mb-22">
                {{ "APP.FOOTER.ABOUT" | translate }}
              </h6>
              <ul class="footer-info">
                <li>
                  <a
                    href="/about"
                    class="position-relative d-inline-block mb-2"
                    >{{ "APP.FOOTER.ABOUT_US" | translate }}</a
                  >
                </li>
                <!-- <li>
                  <a
                    href="/about"
                    class="position-relative d-inline-block mb-2"
                    >{{ "APP.FOOTER.TEAM_MEMBER" | translate }}</a
                  >
                </li> -->
                <li>
                  <a
                    href="/service"
                    class="position-relative d-inline-block mb-2"
                    >{{ "APP.FOOTER.SERVICE" | translate }}</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-12">
            <div class="footer-widget f-info pb-30 ml-40 pr-20 mt-25">
              <h6 class="text-capitalize f-700 mb-22">
                {{ "APP.FOOTER.SERVICE" | translate }}
              </h6>
              <ul class="footer-info">
                <li>
                  <a
                    href="/ai-service"
                    class="position-relative d-inline-block mb-2"
                    >{{ "APP.FOOTER.AI_SERVICE" | translate }}</a
                  >
                </li>
                <li>
                  <a
                    href="/software-service"
                    class="position-relative d-inline-block mb-2"
                    >{{ "APP.FOOTER.SOFT_SERVICE" | translate }}</a
                  >
                </li>
                <li>
                  <a
                    href="/consultancy-service"
                    class="position-relative d-inline-block mb-2"
                    >{{ "APP.FOOTER.CONS_SERVICE" | translate }}</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-12 pr-0">
            <div class="footer-widget f-info pb-30 ml-40 pr-20 mt-25">
              <h6 class="text-capitalize f-700 mb-22">
                {{ "APP.FOOTER.HELP" | translate }}
              </h6>
              <a
                href="https://www.iubenda.com/privacy-policy/52231264"
                class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe"
                title="{{ 'APP.FOOTER.PRIVACY_POLICY' | translate }}"
              >{{ "APP.FOOTER.PRIVACY_POLICY" | translate }}</a>
              <script type="text/javascript">
                (function (w, d) {
                  var loader = function () {
                    var s = d.createElement("script"),
                      tag = d.getElementsByTagName("script")[0];
                    s.src = "https://cdn.iubenda.com/iubenda.js";
                    tag.parentNode.insertBefore(s, tag);
                  };
                  if (w.addEventListener) {
                    w.addEventListener("load", loader, false);
                  } else if (w.attachEvent) {
                    w.attachEvent("onload", loader);
                  } else {
                    w.onload = loader;
                  }
                })(window, document);
              </script>
              <br />
              <a
                href="https://www.iubenda.com/privacy-policy/52231264/cookie-policy"
                class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe"
                title="{{ 'APP.FOOTER.COOKIE_POLICY' | translate }}"
                >{{ "APP.FOOTER.COOKIE_POLICY" | translate }}</a
              >
              <script type="text/javascript">
                (function (w, d) {
                  var loader = function () {
                    var s = d.createElement("script"),
                      tag = d.getElementsByTagName("script")[0];
                    s.src = "https://cdn.iubenda.com/iubenda.js";
                    tag.parentNode.insertBefore(s, tag);
                  };
                  if (w.addEventListener) {
                    w.addEventListener("load", loader, false);
                  } else if (w.attachEvent) {
                    w.attachEvent("onload", loader);
                  } else {
                    w.onload = loader;
                  }
                })(window, document);
              </script>
              <br />
            </div>
          </div>
          <div class="col-xl-4 offset-lg-1 col-lg-3 col-md-12 col-sm-8 col-12">
            <div class="footer-widget f-subscriber-area pb-30 mt-25">
              <div class="f-logo aling-logo">
                <img
                  src="assets/images/logo/LOGOfd.jpeg"
                  width="150"
                  height="150"
                  alt="FindDev"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="footer-border-bottom pt-70"></div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="copyright-area pb-60 pt-20">
          <div class="row align-items-center justify-content-between">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mt-10">
              <div class="copyright-text">
                <p class="mb-0 secondary-color2">
                  {{ "APP.FOOTER.GET_STARTED" | translate }}
                  <a href="/home" class="c-theme f-700 black-color"
                    >FindDev Partners</a
                  >
                  © 2024
                </p>
              </div>
            </div>
            <div
              class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mt-10 d-flex align-items-center justify-content-md-end"
            >
              <a 
                class="text-center pr-15 d-inline-block transition-3" 
                href="https://www.linkedin.com/company/finddev-partners" 
                target="_blank"
              >
                <mat-icon
                  svgIcon="linkedin"
                  class="findev-icon-social-linkedin"
                ></mat-icon
              ></a>

              <!-- <a class="text-center pr-15 d-inline-block transition-3" href="#"
                ><mat-icon
                  svgIcon="facebook"
                  class="findev-icon-social"
                ></mat-icon
              ></a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
